body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f3f3f3;
}

h1 {
    text-align: center;
    color: #333;
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: larger;
}

nav ul li a:hover {
    background-color: #45a049;
}
